@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto Slab', serif;
}

ul{
    list-style: none;
    display: flex;
    gap: 16px;
}

.first-section{
    background-color: #1F2937;
}

.logo{
    height: 125px;
    width: auto;
}

.header-link, .sub-text{
    font-size: 18px;
    color: #e5e7eb;
}

.header{
    display: flex;
    justify-content: space-around;
}

.header-left, .header-right{
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    font-size: 48px;
    font-weight: bolder;
    color: #F9f8f8;
}

.content{
    display: flex;
    margin: 50px;
    justify-content: space-around;
}

.content-right{
    width: 400;
    height: auto;
    margin: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 50%;
}

.content-left{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    gap: 16px;
}

.button{
    width: 100px;
    padding: 8px 16px;
    color: #F9f8f8;
    background-color: #3882f6;
    border: 1px solid #3882f6;
    border-radius: 10px;
}
.second-section{
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.picture{
    height: 175px;
    width: auto;
    margin-left: 60px;
}

.info{
    display: flex;
    justify-content: space-around;
}